<div class="container">
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<h3>Edit Book</h3>
			<br>
			<form action="/books/edit/{{book.id}}/?_method=PUT" method="POST">
				<label for="title">Title:</label>
				<input id="title" name="title" value="{{book.title}}">
				<br>
				<br>
				<label for="genre">Genre:</label>
				<input id="genre" name="genre" value="{{book.genre}}">
				<br>
				<br>
				<label for="desc">Description:</label>
				<textarea id="desc" name="desc" class="materialize-textarea">{{book.desc}}</textarea>
				<br>
				<br>
				<label for="image_url">Cover:</label>
				<input id="image_url" type="url" name="image_url" value="{{book.image_url}}">
				<br>
				<button type="submit" class="waves-effect waves-light btn">Submit</button>
			</form>
		</div>
	</div>
</div>
